*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  border: 2px dotted #343434;
  height: 99vh;
  min-height: 100%;
  margin: 10px 40px 10px 40px;
}

.text{
  margin-top: 10px;
}
.litems{
  margin-top: 25px;
  justify-content: space-between;
}
.btn2{
  margin-left: 13%;
}
.btn3{
  margin-left: 1%;
}

.lists{
  margin-left: 25%;
  margin-top: 1%;
}
